main{

	.content-all{

		.category_description{
			display: none;
		}

		.browse-view{

			.orderby-displaynumber{
				display: none;
			}

			h1{
				font-size: @bigFont;
				font-family: @fontEmphasis;
				color: @trimcoHome;
			}

			.row{

				.width30{

				} 

				.width70{

					h2{
						
					}

					h2 a{
						font-size: @largeFont;
						font-family: @fontEmphasis;
						color: @trimcoHome;
						text-decoration: none;
					}

					.product_s_desc ul{
						padding: 0;
					}

					.product_s_desc li span{
						font-family: @content;
						font-size: @baseFontSize;
						color: #000;
					}
				}
			}
		}

		.productdetails-view{

			img{
				max-height: none;
			}

			.icons{
				display: none;
			}

			.product-short-description{
				display: none;
			}

			.width60{
				width: 100%;

				.MagicToolboxContainer{
					margin: 0 auto;
				}
			}
		}
	}
}