main{
	.one{
		width: 100%;
		float: left;
		box-shadow: none;
		margin-bottom: 13px;
	}

	.two{

		.content-main{

			.content-all{

				.anuncios-p{

					h2{
						font-size: @bigFont;
						font-family: @fontEmphasis;
						color: @trimcoHome;
					}

					img{
						width: auto;
					}

					.sombra{
						display: inline-block;
						box-shadow: 0px 0px 17px -4px;
						padding: 0px 23px;
						padding-bottom: 30px;
						margin-bottom: 50px;
					}

					h3{
						background: @amarillo;
						font-family: @fontEmphasis;
						font-size: @bigFont;
						text-align: right;
						color: @trimcoWhite;
						padding-right: 23px;
						padding-top: 8px;
						padding-bottom: 14px;
						border-radius: 5px;
						width: 64%;
						float: right;
						position: relative;

						&:before{
							content: '';
							position: absolute;
							width: 55px;
							height: 39px;
							background-image: url(http://localhost/mcs-maquinarias/images/globopunta.png);
							right: 32px;
							top: 57px;
						}
					}

					p{
						float: left;
						width: 100%;
						font-family: @content;
						font-size: @baseFontSize;
						color: @colorP;
						line-height: 27px;
						text-align: justify;
					}

					p em{
						color: @amarillo;
						font-style: normal;
					}

					ul{
						padding: 0;
						width: 101%;
						text-align: center;
					}

					ul li{
						display: inline-block;
						text-align: center;
						margin-bottom: 10px;
					}

					ul li p{
						text-align: center;
						margin: 0 auto;
						background: @trimcoHome;
						color: #FFF;
						font-size: @smallFont;
						float: none;
						width: 91%;
						margin-top: 4px;
					}

					ul li img{
						border: 1px solid #808080;
						width: 90%;
						margin: 0 auto;
					}
				}

				.terminos, .serv, .distri, .contactenos, .valor{

					.sombra{
						display: inline-block;
						box-shadow: 0px 0px 17px -4px;
						padding: 0px 23px;
						padding-bottom: 30px;
						margin-bottom: 50px;
						padding-top:16px;
					}

					h2{
						font-size: @bigFont;
						font-family: @fontEmphasis;
						color: @trimcoHome;
					}

					h3{
						font-size: @largeFont;
						font-family: @fontEmphasis;
						color: @trimcoHome;
						margin: 0;
						border-bottom: 1px dashed @trimcoHome;
						padding-bottom: 2px;
						margin-bottom: 23px;
					}

					p{
						float: left;
						width: 100%;
						font-family: @content;
						font-size: @baseFontSize;
						color: @colorP;
						line-height: 27px;
						text-align: justify;
						margin-top: 0;
					}

					a{
						font-style: italic;
						font-family: @content;
						color: @trimcoHome;
						font-size: @baseFontSize;
						float: right;
						font-weight: bold;
					}

					ul{
						display: inline-block;

						li {
							list-style-type: none;
							position: relative;
							display: inline-block;

							&:before{
								content: '';
								position: absolute;
								width:6px;
								height:6px;
								border-radius: 50%;
								background: @trimcoHome;
								left: -18px;
								top: 10px;
							}

							p{
								margin: 0;
							}
						}
					}

					p strong em{
						color: @amarillo;
						font-style: normal;
					}

					p span{
						color: @trimcoHome;
					}

					p em{
						color: @amarillo;
						font-style: normal;
					}

					img{
						width: auto;
					}
				}

				.distri{

					a{
						float: none;
					}

					p{
						width: auto;
					}
				}

				.contactenos{

					ul{
						padding: 0;
						margin: 0;
						margin-top: -50px;
						margin-bottom: 30px;
					}

					ul li{
						display: block;

						&:before{
							background: none;
						}
					}

					ul li h4{
						margin: 0;
						display: inline-block;
						font-family: @fontEmphasis;
						font-size: 18px;
						color: #525252;
					}

					ul li h4 a{
						margin: 0;
						display: inline-block;
						font-family: @fontEmphasis;
						font-size: 18px;
						float: none;
						color: #525252;
					}

					ul li h4 img{
						float: left;
					}

					ul li h4 span{
						color: @trimcoHome;
						margin-left: 9px;
					}
				}
			}
		}
	}	
}


.serv, .distri, .contactenos{

	.moduletable.contc{
		display: inline-block;
		background: #FDFDFD;
		box-shadow: 0px 0px 17px -4px;
		margin-bottom: 20px;

		h2{
			font-size: @largeFont !important;
			font-family: @fontEmphasis !important;
			color: @bodyBackground !important;
			text-align: right;
			background: @amarillo;
			padding: 7px 0;
			padding-right: 25px;
		}

		fieldset{
			text-align: center;

			.rsform-block{
				float: none;
				width: 45%;
				margin-bottom: 5px;
				display: inline-block;

				.formControlLabel{
					float: none;
					width: 88%;
					padding-top: 5px;
					text-align: left;
					font-family: @content;
					color:@colorP;
					font-size: @baseFontSize;
					display: inline-block;

					.formRequired{
						color: @trimcoHome;
					}
				}

				.formControls{
					margin: 0;

					input[type="text"], select{
						width: 85%;
						border-radius: 0;
					}

					textarea{
						width: 93%;
						border-radius: 0;
					}

					input[type="submit"], input[type="reset"]{
						background: @mcs-red;
						font-size: @baseFontSize;
						font-family: @content;
						padding: 5px 35px;
						float: left;
					}
				}
			}

			.rsform-block-mensaje{
				width: 90%;
			}

			.rsform-block-enviar{
				width: 85%;
			}
		}
	}
}					