.component{

	.crear-view{
		text-align: right;
		width: 100%;
		margin-bottom: 20px;
		margin-top: 20px;

		a{
			padding: 15px;

			i{
				&:before{
					left: -7px;
				}
			}
		}
	}

	.crear-anuncio-content{
		margin-top: -4px;
		padding: 15px;
		text-align: justify;
		display: inline-block;
	}


	.box, .box-medium{
		.box-shadow( -1px -1px 5px lighten(#000, 85%) );
		margin-top: 18px;
		padding: 10px 18px 10px 24px;
	}


	.datos-anuncio, .datos-consignar{
		.box;
		text-align: center;
		padding: 0 0 25px 0;

		> * { text-align: justify; }

		ul{
			width: 87%;
			margin: 0 auto;
			display: block;
		}

		h3{
			width: 90%;
			display: inline-block;
		}

		#map_canvas { display:inline-block; margin: 15px 0; }
	}

	.cargar-images, .categorias, .activacion, .equipo{
		.box-medium;
		margin-bottom: 30px;
		text-align: justify;

		ul{
			display: inline-block;
		}

		.qq-upload-button{
			&:extend( .mcs-button, .mcs-button.gray all, .mcs-button.medium);
			width: 80px;
			text-align: center;
		}

		.content-images{
			margin-top: 10px;

			.bxslider{

				li{
					height: 120px;

					img{
						// .size( 200px, 200px );
					}
				}
			}

			.bx-pager{ display: none; }
		}


	}

	.equipo{
		display: inline-block;

		.two-columns{


			li{

				&:first-child, &:last-child{
					width: 100%;

					input{
						width: 96%;
					}

				}
			}

		}
	}

	.datos-consignar{

		.two-columns{


			li{
				

				&:first-child, &:last-child, &:nth-child(2){
					width: 100%;
					
					input{
						width: 96%;
					}

				}
			}


		}
	}

	.buttons{
		display: inline-block;

		ul{

			li{
				width: 50%;
				float: left;
			}
		}
	}

	.lista-anuncios{

		.anuncios{
			margin-top: 20px;

			li{
				width: 100%;
				display: inline-block;
				margin-bottom: 10px;
				border-bottom: 1px solid rgba(204, 204, 204, 0.53);
				padding-bottom: 10px;

				& > *{ display: inline-block; }

				.mcs-check{
					width: 20%;
					display: none;
					float: left;
				}	

				label{
					float: left;
					margin-right: 10px;
				}

				img{
					.size( 150px, 100px );
					float: left;
				}

				.titledes{
					width: 79%;
					float: left;
					text-align: left;
					margin-left: 10px;
				}

				.mcs-title{
					font-size: 1.6rem;

					&.red{
						.titledes;
					}
				}

				p{
					.titledes;
					font-size: 1.8rem;

				}

				
			}
		}
	}

	.wrapper-paginator{
		text-align: center;

		ul{
			display: inline-block;
			margin: 10px auto;
			background-color: #FFF;
			border-radius: 17px;
			border: 1px solid #CCC;
			.box-shadow( 0px 0px 2px #CCC );

			li{
				display: inline-block;
				padding: 7px 15px;
				
				font-family: 'Open sans' sans-serif;
				font-size: 18px;
				color: #CCC;
				cursor: pointer;

				&:first-child, &:last-child{ border-bottom: 0; background: none; }

				&:first-child{ border-right: 1px solid #CCC }

				&:last-child{ border-left: 1px solid #CCC }
				
				&:hover, &:active{
					
					border-bottom: 3px solid #f6b604;
					color: #f6b604;	
				}

				&.active{
					a{ text-decoration: none; color: #f6b604; }
				}

				a{ text-decoration: none; color: #CCC}
				
			}
		}

	}
}

		

		

		

			
		
	
