// --------------------------------------------------
// Typography
// --------------------------------------------------

// Michroma
//----------
@font-face {
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    src: local('Michroma'), url( fonts/Michroma.ttf ) format('ttf');
}

// Arimo: 400
// -----------------
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local( 'Arimo Regular' ), local( 'Arimo-Regular' ), url( fonts/Arimo-Regular.ttf ) format('ttf');
}

// Arimo: 400 Italic
// -----------------
@font-face {
  font-family: 'Arimo-Italic';
  font-style: italic;
  font-weight: 400;
  src: local( 'Arimo Italic' ), local( 'Arimo-Italic' ), url( fonts/Arimo-Italic.ttf ) format('ttf');
}


// Arimo: 700 Bold
// -----------------
@font-face {
  font-family: 'Arimo-Bold';
  font-style: normal;
  font-weight: 700;
  src: local( 'Arimo Bold' ), local( 'Arimo-Bold' ), url( fonts/Arimo-Bold.ttf ) format('ttf');
}

// Arimo: 700 Bold Italic
// -----------------
@font-face {
  font-family: 'Arimo-Bold-Italic';
  font-style: normal;
  font-weight: 700;
  src: local( 'Arimo BoldItalic' ), local( 'Arimo-BoldItalic' ), url( fonts/Arimo-BoldItalic-.ttf ) format('ttf');
}