html { font-size: 62.5%; } 


.content-gui{
	padding: 20px;
	display: inline-block;
	width: 100%;

	h1{
		font-size: 20px;
	}

	div{
		margin-bottom: 20px;
	}

	.botones{
		width: 15%;
		padding: 40px;
		border-right: 1px solid #000;
		float: left;

		.cerrar{
			.size( 23px, 14px );
			padding: 18px;
			#gradient .vertical(#f79d17, #f6b505);
		}
	}

	.tipografia{
		width: 60%;
		margin: 32px 21px;
		float: left;
	}
}

// Buttons

.text{
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.close-button{
	.size( 11px, 15px );
	display: inline-block;
	padding: 3px 3px 0 6px;
	border: 1px solid #FFF;
	.border-radius( 3px );
	font-size: 1.2rem;
	color: #FFF;
	text-decoration: none;
	background-color: #DA7300;
	font-weight: bold;

	&:hover{
		#gradient .vertical(#f79d17, #f6b505);
		color: #FFF !important;
	}
}

.mcs-button {
	border: 0;
	color: #FFF;
	font-size: 1.6rem;
	font-weight: normal;
	font-style: normal;
	.text;
	cursor: pointer;

	//Colors
	&.red {
		background-color: @mcs-red;

		&:hover {
			background-color: @redButtonDarken;
		}
	}

	&.gray {
		background-color: @grayButton;

		&:hover {
			background-color: @grayButtonDarken;
		}
	}

	&.orange{
		background-color: @orangeButton;

		&:hover{
			background-color: #FFF;
			color: @orangeButton;
			border: 1px solid @orangeButton;

		}
	}

	// Sizes
	&.small {
		padding: 10px;
		min-width: 124px;
	}

	&.big {
		padding: 18px;
		min-width: 180px;
	}

	&.medium{
		padding: 7px;
		min-width: 150px;
	}

	// Styles
	&.iconic {
		font-family: FontAwesome;
		color: #FFF;
		text-transform: uppercase;
		font-size: 1.6rem;
		.text;

		> * { display: inline-block; vertical-align: middle; }

		i { font-size: 3rem; font-weight: bold; margin-right: 5px; }

		&.shadow{
		
			i{
				position: relative;

				&:before{ position: relative; left: -7px; }

				&:after{
					position: absolute;
					.size( 22px, 44px );
					content: '';
					top: -7px;
					left: 7px;
					.box-shadow( 4px 0px 8px -3px rgba(71, 71, 71, 0.81));
				}
			}
		}

	}

	&.rounded {
		.border-radius( 4px );
	}

	

}

.mcs-arrows{
	text-decoration: none;
	font-size: 2.5rem;
	
	
	& > *{ display: inline-block; vertical-align: middle; }

	&.orange{
		color: @orangeButton !important;
		font-size: 3.5rem;

		i{ text-shadow: 1px 1px 10px #C6C6C6; }
	}


	&.left, &.right{
		color: @grayButton !important;

		&:hover{
			color: @orangeButton !important;
		}

		span{
			margin-left: 8px;
			font-size: 1.7rem;
		}

	}

}

.mcs-user{
	font-size: @menuFontSize + 0.1;
	.text;

	.star{
		color: @mcs-red;
	}
}

.mcs-title{
	font-size: @bigFont;
	.text;
	font-family: 'Michroma';

	&.red{
		color: @mcs-red;
	}

	&.border{
		width: 100%;
		font-size: 1.8rem;
		border-bottom: 1px dashed @mcs-red;
		padding-bottom: 5px; 
	}

	&.orange {
		width: 100%;
		padding: 10px;
		background-color: @orangeButton;
		color: #FFF;
		font-size: 1.8rem;
		text-align: right;
	}

}

.mcs-tabs{
	width: 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
	font-family: 'Michroma';
	.text;

	li{
		display: inline-block;
		float: left;
		width: 23%;
		.box-shadow( 1px -3px 5px lighten(#000, 85%) );
		border-top-left-radius: 9px; 
		border-top-right-radius: 9px;
		text-align: center;
		background-color: @orangeButton;
		margin-right: 2px;

		&:last-child{
			position: relative;

			&:before{
				position: absolute;
				content: '';
				bottom: 0;
				.size( 334%, 8px );
				background-color: @orangeButton;
				border-top-right-radius: 5px;
			}
		}

		&.active{
			&:last-child{
				position: relative;

				&:before{
					position: absolute;
					content: '';
					bottom: 0;
					left: 100%;
					.size( 100%, 8px );
					border-radius: 0;
					background-color: #FFF;
					box-shadow:  2px -3px 5px lighten(#000, 85%);
				}

				&:after{
					position: absolute;
					content: '';
					bottom: 0;
					left: 200%;
					.size( 140%, 8px );
					background-color: #FFF;
					border-top-right-radius: 5px;
					box-shadow:  1px -3px 5px lighten(#000, 85%) ;
				}
			}
		}

		a{
			width: 100%;
			display: inline-block;
			text-decoration: none;
			padding: 22px 0 22px 0;
			color: #FFF;
			font-size: 1.8rem;

			&:hover{
				color: @mcs-red !important;
			}
		}
	}

	.active{
		background-color: #FFF;

		a{
			color: @mcs-red;
		}
	}
}

input[ type="checkbox" ]{

	&.mcs-check{
		display: none;

		& + label{

			display: inline-block;
			position: relative;	
			.border-radius( 3px );	
			.size( 16px, 16px );	
			background-color: #FFFFFF;
			cursor: pointer;
			z-index: 3;
			font-weight: bold;
			border: 1px solid #CCC;
			.box-shadow(0px 0px 6px #9F9F9F inset);

			
		}

		&:checked + label{
			display: inline-block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			.text;
			position: relative;

			

			&:before{
				position: absolute;
				content: "\f00c";
				color: @mcs-green;
				font-size: 1.4rem;
				left: 1px;
				bottom: 1px;
			}
		}
	}	
}

.mcs-select{
	width: 100%;
	font-family: 'Michroma';
}

.select2-results {
	font-family: 'Michroma';

	.select2-highlighted {
	    #gradient .vertical( #F7A313, #F6B307 ) !important;
	    color: #fff;
	    
	}
}

// Tooltips messages
.mcs-tooltip {

	position: relative;
	width: 100%;
	padding: 10px 0;
	.border-radius( 10px );
	border: 2px solid #000;
	text-align: center;
	.box-shadow( 6px 4px 10px #9F9F9F );
	background-color: #fff;
	font-size: 16px;

	h2{
		font-size: 1.8rem;
	}

	&:after, &:before { content: ''; position: absolute; left: 50%; margin-left: -7.5px; }

	&:after {
		bottom: -11px;
		#triangle .bottom( 15px, 15px, #FFF );
	}

	&:before {
		bottom: -15px;
		#triangle .bottom ( 15px, 15px, #000 );

	}

	&.success {

		border-color: @mcs-green;
		color: @mcs-green;

		&:before { #triangle .bottom ( 15px, 15px, @mcs-green ); }

	}

	&.error {

		border-color: @mcs-red;
		color: @mcs-red;

		&:before { #triangle .bottom ( 15px, 15px, @mcs-red ); }

	}

	&.warning {

		border-color: @mcs-blue;
		color: @mcs-blue;

		&:before { #triangle .bottom ( 15px, 15px, @mcs-blue ); }
	}
}

.forms{

	div{

		ul{
			width: 100%;

			li{
				width: 98%;
				margin-bottom: 7px;
			}

			&.two-columns{
				display: block;

				li{
					width: 50%;
					float: left;

					input{
						width: 91%;
					}

					
				}

				&:nth-child(6){
					
					li{
						
						&:nth-child(9), &:nth-child(8){
							width: 98%;
						}

						&:nth-child(7){
							width: 100%;

							input{
								width: 96%;
							}

						}

						textarea{
							height: 60px;
						}
					}
				}
				
			}

			
		}

		label{
			margin-bottom: 5px;
			text-align: left;
			display: inline-block;
		}

		
	}

	input[type="text"], textarea{
		border: 1px solid #CCC;
		.size ( 98%, 20px);
		padding-left: 10px;
		float: left;
	}
}



