#login-form{
	text-align: center;

	.logout{
		width: 91%;
		display: inline-block;
		margin: 0 auto;
		text-align: justify;
		margin-top: 10px;
		background-color: #FFF;
		.box-shadow( 0px 0px 10px 0px rgba(204, 204, 204, 0.62) );
		padding: 11px 11px 5px 4px;
		margin-bottom: 10px;

		> * { display: inline-block; vertical-align: middle; }

		.greeting{
			float: left;
			&:extend( .mcs-title, .mcs-title.red );
			font-size: 1.4rem;
			margin-top: 3px;
		}

		.logout-button{
			float: right;
			margin-top: -6px;

			input[type="submit"]{
				&:extend( .mcs-button, .mcs-button.gray all, .mcs-button.medium);
			}
		}
	}
}