header{
	position: relative;

	.header{

		.top{

			.logo{
				margin-top: 28px;
				text-align: center;
				position: relative;
				z-index: 9;
				margin-bottom: 34px;

				&:before{
					content: '';
					width: 783px;
					height: 100px;
					position: absolute;
					background: #FFF;
					left: -400px;
					top: -9px;
					box-shadow: 0px 9px 22px -8px;
					z-index: -9;
				}

				canvas{
					display: block;
				}
				img{
					display: none;
					width: 100%;
					margin-bottom: 44px;
				}
			}

			.banner{
				text-align: center;
				margin-top: 37px;
				margin-bottom: 9px;

				.moduletable{
					display: inline-block;
				}
			}

			.ditribuidor{
				text-align: center;
				margin-top: 25px;

				.moduletable{
					display: inline-block;
				}
			}
		}
	}
}

.content-nav{
	background: #F69804;

	.nav{

		.menu-mobile-screens {display: none;}

		.menu-larger-screens{
			text-align: center;

			ul{
				margin: 0 auto;
				padding: 0;

				li{
					display: inline-block;
					padding: 11px 27px;
					border-right: 2px solid #F6B604;

					&:first-child{
						border-left: 2px solid #F6B604;
					}

					&:hover{
						-webkit-transform: scale(1.05);
						transform: scale(1.05);
						box-shadow: 0px 0px 10px 0px rgba(7, 6, 6, 0.43);
					}

					a{
						font-family: @fontEmphasis;
						font-size: @mediumFont;
						text-decoration: none;
						color: @trimcoWhite;

						&:hover{
							color: @trimcoWhite !important;
						}
					}
				
				}
			
			}

		}
	
	}

}
main{
	.one{
		width: 100%;
		float: left;
		box-shadow: 0px 6px 32px -18px;
		margin-bottom: 13px;

		.bienvenida{

			margin-top: 15px;

			p{
				font-size: 18px;
				font-family: 'Arimo';
				font-style: italic;
				color: #525252;
				text-align: center;
				border-bottom: 1px dashed #ccc;
				width: 84%;
				margin: 0 auto;
				padding-bottom: 4px;
			}
		}

		.buscar{
			text-align: right;

			.moduletable{
				width: 86%;
				margin: 0 auto;
				margin-top: 19px;

				.search{

					label{
						display: none;
					}

					input[type="text"]{
						width: 36%;
						padding: 3px 4px;
						font-size: 15px;
						border: 1px solid #ccc;
						color: #CB1417;
					}

					input[type="submit"]{
						background-image: url(images/images/buscar.png);
						width: 85px;
						background-color: transparent;
						border: 0;
						background-repeat: no-repeat;
						height: 37px;
						color: transparent;
						cursor: pointer;

						&:hover{
							-webkit-transform:scale(1.1);
							transform:scale(1.1);
						}
					}
				}
			}
		}

		.ofertas{

			.moduletable{
				margin: 0 auto;
				width: 86%;

				h3{
					font-family: @fontEmphasis;
					font-size: @bigFont;
					color: @trimcoHome;
					margin-top: 0px;
					letter-spacing: -1px;
					letter-spacing: -1px;
				}

				ul{
					width: 100%;
					margin: 0 auto;
					padding: 0px;
					margin-bottom: 30px;
					text-align: center;

					li{
						display: inline-block;
						position: relative;
						margin-right: 17px;
						text-align: left;
						margin-bottom: 10px;

						&:before{
							content: '';
							width: 100%;
							height: 95%;
							background: -moz-linear-gradient(left,  rgba(0,0,0,0.88) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
							background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.88)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
							background: -webkit-linear-gradient(left,  rgba(0,0,0,0.88) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
							background: -o-linear-gradient(left,  rgba(0,0,0,0.88) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
							background: -ms-linear-gradient(left,  rgba(0,0,0,0.88) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
							background: linear-gradient(to right,  rgba(0,0,0,0.88) 0%,rgba(255,255,255,0) 100%); /* W3C */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
							position: absolute;
							left: 0;
						}

						img{
							box-shadow: 0px 5px 8px -3px #000;
						}

						p {
							margin-top: -66px;
							font-family: 'Michroma', sans-serif;
							font-size: 17px;
							color: #F6B404;
							margin-left: 23px;
							position: relative;

							strong{
								margin-top: -56px;
								font-family: 'Michroma', sans-serif;
								font-size: 21px;
							}
						}

						span{
							float: right;

							img{
								float: right;
								width: 40px;
								box-shadow: none;
								z-index: 9;
								position: relative;
								margin-top: -69px;
							}
						}
					}
				}
			}
		}
	}

	.two{

		.moduletable{

			padding-left: 15px;

			h3{
				font-family: @fontEmphasis;
				font-size: @largeFont;
				color: @trimcoHome;
				margin-top: 0px;
				border-bottom: 1px dashed;
				padding-bottom: 9px;
				letter-spacing: -1px;
				letter-spacing: -1px;
			}

			ul.menu{

				li.deeper.parent{
					font-family: @fontEmphasis;
					font-size: @mediumFont;
					color: @liColor;
					font-weight: bold;
					list-style-type: none;
					margin-bottom: 15px;
					margin-top: 13px;

					&:first-child > a {
						display: none;
					}

					a{
						text-decoration: none;
						position: relative;

						&:after{
							content: '';
							width: 300px;
							height: 1px;
							position: absolute;
							bottom: -1px;
							left: 0;
							border-bottom: 1px dashed;
						}
					}

					ul{
						margin-top: 13px;
						padding-left: 15px;

						li{
							list-style-type: none;
							color: @liColorHijos;
							font-family: @content;
							font-size: @liFontSize;
							font-weight: lighter;

							a{
								text-decoration: none;
								border-bottom: none;

								&:after{
									content: '';
									width: 10px;
									height: 14px;
									background-image: url(images/images/flecha.png);
									position: absolute;
									border-bottom: none;
									background-repeat: no-repeat;
									top: 0;
									left: -15px;
								}
							}
						}
					}
				}

				li{
					list-style-type: none;
					color: @liColorHijos;
					font-family: @content;
					font-size: @liFontSize;
					font-weight: lighter;
					line-height: 25px;

					a{
						text-decoration: none;
						border-bottom: none;
						position: relative;

						&:after{
							content: '';
							width: 10px;
							height: 14px;
							background-image: url(images/images/flecha.png);
							position: absolute;
							border-bottom: none;
							background-repeat: no-repeat;
							left: -15px;
						}
					}
				}
			}
		}	
	}

	.three{
		background-image: url(images/images/mapa.jpg);
		float: left;
		width: 100%;
		box-shadow: 0px 14px 24px -19px inset;
		background-position: center;

		.moduletable{
			width: 80%;
			margin: 0 auto;


			ul{
				float: right;
				padding: 0;
				text-align: center;

				li{
					display: inline-block;
					margin-right: 10px;
					padding: 33px 0;
				}
			}
		}
	}

	.four{
		float: left;
		width: 100%;
		background: rgb(52,52,52); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(52,52,52,1) 0%, rgba(125,125,125,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,52,52,1)), color-stop(100%,rgba(125,125,125,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(52,52,52,1) 0%,rgba(125,125,125,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(52,52,52,1) 0%,rgba(125,125,125,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(52,52,52,1) 0%,rgba(125,125,125,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(52,52,52,1) 0%,rgba(125,125,125,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#7d7d7d',GradientType=0 ); /* IE6-9 */


		.redes{

			h4{
				font-family: 'Michroma', sans-serif;
				font-size: 18px;
				color: #F6B604;
				margin-bottom: 0px;
			}

			table{
				margin: 0 auto;
			}

			iframe{
				border: none;
			}
		}

		.pagos{

			h4{
				font-family: 'Michroma', sans-serif;
				font-size: 18px;
				color: #F6B604;
				margin-bottom: 0px;
			}

			table{
				margin: 0 auto;
			}

			ul{
				background: #FFF;
				padding: 0px;

				li{
					display: inline-block;
					margin-right: 10px;
					padding:8px 0;
				}
			}

		}
	}
}

footer{

	.five{
		background: rgb(82,82,82); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(82,82,82,1) 0%, rgba(128,128,128,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(82,82,82,1)), color-stop(100%,rgba(128,128,128,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(82,82,82,1) 0%,rgba(128,128,128,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(82,82,82,1) 0%,rgba(128,128,128,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(82,82,82,1) 0%,rgba(128,128,128,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(82,82,82,1) 0%,rgba(128,128,128,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#808080',GradientType=0 ); /* IE6-9 */
		width: 100%;
		float: left;
		padding-bottom: 25px;
		
		.moduletable{

			h3{
				font-family: 'Michroma', sans-serif;
				font-size: @liFontSize;
				color: #F6B604;
				margin-bottom: 0px;
				border-bottom: 1px dashed;
				padding-bottom: 18px;
				letter-spacing: -1px;
			}

			ul{
				float: left;
				padding: 0px 22px;
				width: 192px;
				border-left: 1px solid #565656;
				height: 210px;

				h4{
					font-family: @fontEmphasis;
					font-size: @smallFont;
					color: #F6B604;
					margin-bottom: 0px;
				}

				li{
					list-style-type: none;
					margin-left: 25px;

					p{
						a{
							color: #FFF;
							font-family: @content;
							font-size: @normalFont;
							text-decoration: none;
							position: relative;

							&:after{
								content: '';
								width: 10px;
								height: 14px;
								background-image: url(images/images/flechaAmarilla.png);
								position: absolute;
								border-bottom: none;
								background-repeat: no-repeat;
								top: 2px;
								left: -11px;
							}
						}
					}
				}
			}
		}
	}

	.six{
		float: left;
		background: #F6B604;
		width: 100%;

		.pie{
			color: @liColorHijos;
			font-family: @fontEmphasis;
			font-size: @normalFont;

			a{
				color: @liColorHijos;
				font-family: @fontEmphasis;
				font-size: @normalFont;
				text-decoration: none;
			}
		}

		.derechos{
			float: right;
			margin-top: 14px;

			#logo {
			    background-image: url("images/images/logo_blanco.png");
			    background-repeat: no-repeat;
			    float: right;
			    height: 20px;
			    margin-top: 3px;
			    width: 68px;
			    margin-left: 5px;

			    #logo:hover {
				    background-image: url("images/images/logo.png");
				    background-repeat: no-repeat;
				    float: right;
				    height: 20px;
				    margin-top: 3px;
				    width: 68px;
				}
			}
		}
	}
}
#copy{

	span{
		float: left;
	}
	.logo{
		float: right;
	}
}
.clientes{
	box-shadow: 0px 0px 16px -3px;
	height: 300px;
	width: 200px;
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 25px;
	float: left;

	p{
		float: right;
		font-family: @fontEmphasis;
		font-size: @largeFont;
		text-decoration: none;
		color: @trimcoWhite;
		background: #F6B604;
		padding: 9px 11px;
	}

	.moduletable {
		float: left;
		padding: 0px !important;
		margin-top: 39px;
	}
}
.clientes-2{
	box-shadow: 0px 0px 16px -3px;
	margin-left: 25px;
	margin-top: 20px;
	width: 200px;
	float: left;
	margin-bottom: 15px;

	p{
		float: right;
		font-family: 'Michroma', sans-serif;
		font-size: 18px;
		text-decoration: none;
		color: #FFFFFF;
		background: #525252;
		padding: 0px 20px;
		margin: 0px;
		letter-spacing: -1px;
		text-align: right;
	}

	.moduletable {
		float: none !important;
		padding: 0px !important;

		.enlaces{
			width: 76%;
			margin: 0 auto;
		}
	}
}
.clientes-3{
	margin-left: 25px;
	float: left;
	width: 193px;
	margin-top: 9px;

	.moduletable {
		float: none !important;
		padding: 0px !important;

		img{
			box-shadow: 0px 0px 16px -3px #000;
		}
	}
}
.nav-bottom{
	float: left;
	width: 100%;
	box-shadow: 0px 6px 14px -5px;

	.moduletable{
		width: 50%;
		margin: 0 auto;

		ul{
			float: right;

			.medio{
				border-left: 1px solid #CB1417;
				border-right: 1px solid #CB1417;
			}

			li{
				display: inline-block;

				a{
					font-family: 'Michroma', sans-serif;
					font-size: @largeFont;
					color: #CB1417;
					margin-top: 0px;
					text-decoration: none;
					padding: 0px 14px;
				}	
			}
		}
	}
}


















span.niftyquick span.yoo-login span.login span.username, span.niftyquick span.yoo-login span.login span.password {
	width: 24%;
	height: 16px;
	padding: 2px 5px 10px 20px;
	float: left;
	overflow: hidden;
}
span.niftyquick span.yoo-login span.login span.username {
	background: none;
	border: 1px solid #ccc;
}
span.niftyquick span.yoo-login span.login span.username:hover {
background: none;
}
span.niftyquick span.yoo-login span.login span.password {
	background: none;
	border: 1px solid #ccc;
}
span.niftyquick span.yoo-login span.login span.password:hover {
background: none;
}
span.niftyquick span.yoo-login span.login span.login-button {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 76px;
	height: 30px;
	background: #4D4D4D;
	/* ie6png: crop; */
}
span.niftyquick span.yoo-login span.login span.login-button:hover {
	background: #4D4D4D;
}
span.niftyquick span.yoo-login span.login span.login-button button{
	color: #FFF;
	font-size: 15px;
	margin-top: 4px;
	text-transform: capitalize;
}
span.niftyquick span.yoo-login span.login {
	height: auto;
	width: 83%;
	margin: 0 auto;
	box-shadow: 0px 0px 16px -4px;
	padding: 13px;
	margin-top: 22px;
	display: inline-block;
}
span.niftyquick span.yoo-login span.login span.username input, span.niftyquick span.yoo-login span.login span.password input {
	padding: 0px;
	width: 100%;
	background: none;
	border: none;
	outline: none;
	float: left;
	font-size: 15px;
	color: #CB1417;
}
span.niftyquick span.yoo-login span.login span.lostpassword{
	background: none;
	width: 18%;
}
span.niftyquick span.yoo-login span.login span.lostpassword a{
	color: #CB1417;
	text-decoration: none;
	font-size: 15px;
	font-family: 'Arimo';
	text-align: right;
}
span.niftyquick span.yoo-login span.login span.registration {
	width: 15%;
 	background: none; 
}
span.niftyquick span.yoo-login span.login span.registration a{
	color: #CB1417;
	text-decoration: none;
	font-size: 15px;
	font-family: 'Arimo';
	text-align: right;
}
span.yoo-login, span.yoo-login span {
	display: block;
	text-align: center;
}

/* Estilos carrusel de imagenes*/

.hotcarousel .js .carousel-wrap {
	vertical-align: middle;
	margin: 0 10px;
	margin-top: 74px;
}
.hotcarousel .carousel-next {
	background-image: url(images/images/flechas.png);
	float: left;
	height: 200px;
	background-position: -48px center;
	width: 34px;
	display: none;
}
.hotcarousel .carousel-previous {
	background-image: url(images/images/flechas.png);
	float: left;
	height: 200px;
	background-position: -10px center;
	width: 34px;
	display: none;
}
.hotcarousel .js {
	overflow: hidden;
	width: 185px;
	height: 200px;
}
