/**
* Estilos paara dispositivos móviles
*
*/

// Laptops
@media only screen and (max-width: 1155px) and ( min-width:961px ) {
	
	header{
	position: relative;
	
		.header{

			.top{

				.logo{
					margin-top: 28px;
					text-align: center;
					position: relative;
					z-index: 9;
					margin-bottom: 21px;

					canvas{
						display: none;
					}
					img{
						width: 100%;
						display: block;
					}

					&:before{
						content: '';
						width: 100%;
						height: 100px;
						position: absolute;
						background: #FFF;
						left: 0;
						top: -16px;
						box-shadow: 0px 9px 22px -8px;
						z-index: -9;
					}
				}

				.banner{
					text-align: center;
					margin-top: 37px;
					margin-bottom: 9px;

					.moduletable{
						display: inline-block;
					}
				}

				.ditribuidor{
					text-align: center;

					.moduletable{
						display: inline-block;
					}
				}
			}
		}
	}
	

	.content-nav{
		background: #F69804;

		.nav{

			.menu-mobile-screens {display: none;}

			.menu-larger-screens{
				text-align: center;
				display: block;
				ul{
					margin: 0 auto;
					padding: 0;

					li{
						display: inline-block;
						padding: 11px 11px;
						border-right: 2px solid #F6B604;

						a{
							font-family: @fontEmphasis;
							font-size: @mediumFont;
							text-decoration: none;
							color: @trimcoWhite;
						}
					
					}
				
				}

			}
		
		}

	}

	.two{

		.moduletable{

			padding-left: 15px;

			h3{
				font-family: @fontEmphasis;
				font-size: @largeFont;
				color: @trimcoHome;
				margin-top: 0px;
				border-bottom: 1px dashed;
				padding-bottom: 9px;

			}

			ul.menu{

				li.deeper.parent{
					font-family: @fontEmphasis;
					font-size: @mediumFont;
					color: @liColor;
					font-weight: bold;
					list-style-type: none;
					margin-bottom: 15px;
					margin-top: 13px;

					&:first-child > a {
						display: none;
					}

					a{
						text-decoration: none;
						position: relative;

						&:after{
							content: '';
							width: 100% !important;
							height: 1px;
							position: absolute;
							bottom: -1px;
							left: 0;
							border-bottom: 1px dashed;
						}
					}
				}
			}
		}

		.content-main{

			.content-all{

				.anuncios-p{

					h3{
						width: 62% !important;
					
						&:before{
							content: '';
							position: absolute;
							width: 55px;
							height: 39px;
							background-image: url(http://localhost/mcs-maquinarias/images/globopunta.png);
							right: 32px;
							top: 57px;
						}
					}
				}
			}
		}	
	}

	footer{

		.five{
			
			.moduletable{

				h3{
			
				}

				ul{
					float: left;
					padding: 0px;
					width: 187px;
					border-left: 1px solid #080808;

					h4{
						font-family: @fontEmphasis;
						font-size: @smallFont;
						color: #F6B604;
						margin-bottom: 0px;
					}

					li{
						list-style-type: none;
						margin-left: 25px;
						text-align: left

					}
				}
			}
		}
	}

		.nav-bottom{
		float: left;
		width: 100%;
		box-shadow: 0px -2px 14px -5px;

		.moduletable{
			width: 100%;
			margin: 0 auto;
			padding: 0 !important;

			ul{
				float: right;

				.medio{
					border-left: 1px solid #CB1417;
					border-right: 1px solid #CB1417;
				}

				li{
					display: inline-block;

					a{
						font-family: 'Michroma', sans-serif;
						font-size: 18px;
						color: #CB1417;
						margin-top: 0px;
						text-decoration: none;
						padding: 0px 14px;
					}	
				}
			}
		}
	}

	span.niftyquick span.yoo-login span.login span.lostpassword {
	background: none;
	width: 159px;
	float: right;
	}
	span.niftyquick span.yoo-login span.login span.registration {
		width: 160px;
		background: none;
		margin-top: -6px;
		float: right;
	}

	.login, .registration, .reset, .remind{
		
		input{
			width: 100% !important;
		}
	}

	main{

		.component{
			width: 100% !important;

			.lista-anuncios{

				.anuncios{

					li{
						p{
							width: 75%;
						}

						.mcs-title{
							&.red{
								width: 75%;
							}
						}
					}
				}
			}
		}
	}

	// Ventana Modal y contenidos
	.em-modal-box {

		left: 50%;
		width: 60%;
		margin-left: -25%;
	}



}




