/**
* Base template
*
*/

.menu-larger-screens{
	ul{
		li{


			&:nth-child(3){
				position: relative;

				ul.desp{
					max-height: 0;
					min-width: 50px;
					width: 600px;
					overflow: hidden;
					position: absolute;
					left: -219px;
					top: 100%;
					transition: max-height .8s .5s;
					-moz-transition: max-height .8s .5s;
					-o-transition: max-height .8s .5s;
					-webkit-transition: max-height .8s .5s;
					opacity: 0.9;
				 	padding-left: 0;
				 	margin-top: 13px !important;


				 	li {
						list-style-type: none;
						list-style: none;
						float: left;
						margin: 0px 2px !important;
						width: 121px !important;
						height: 66px !important;
						background-position: top center;


						a {
							font-size: 20px;
							text-decoration: none;
						}
						&.auto {
							background: url("../templates/trimco-home/images/thumb-autom.jpg") repeat-x 0px 0px;
							width: 121px;
							height: 66px;
							background-position: top center;
							margin: 0px 2px;

							a {
								margin-top: 47px;
								display: inline-block;
								background: #4A5F99;
								color: #fff!important;
								font-size: 1.3rem !important;
								text-align: center;
								width: 121px;
								text-transform: capitalize !important;
							}

						}

						&.trans {
							background: url("../templates/trimco-home/images/thumb-transp.jpg") repeat-x 0px 0px;
							width: 121px;
							height: 66px;
							background-position: top center;
							margin: 0px 2px;

							a {
								margin-top: 47px;
								display: inline-block;
								background: #4A5F99;
								color: #fff!important;
								font-size: 1.3rem !important;
								text-align: center;
								width: 121px;
								text-transform: capitalize !important;
							}

						}

						&.aero {
							background: url("../templates/trimco-home/images/thumb-aeron.jpg") repeat-x 0px 0px;
							width: 121px;
							height: 66px;
							background-position: top center;
							margin: 0px 2px;

							a {
								margin-top: 47px;
								display: inline-block;
								background: #4A5F99;
								color: #fff!important;
								font-size: 1.3rem !important;
								text-align: center;
								width: 121px;
								text-transform: capitalize !important;
							}

						}

						&.pos {
							background: url("../templates/trimco-home/images/thumb-posven.jpg") repeat-x 0px 0px;
							width: 121px;
							height: 66px;
							background-position: top center;
							margin: 0px 2px;

							a {
								margin-top: 47px;
								display: inline-block;
								background: #4A5F99;
								color: #fff!important;
								font-size: 1.3rem !important;
								text-align: center;
								width: 121px;
								text-transform: capitalize !important;
							}

						}
					}
				}
			}

			&:hover{
				color: red;
				ul.desp{ 
					max-height: 610px; 		
				}
			}
		}
	}
}
