.content-anuncios{
	width: 100%;
	text-align: center;
	display: inline-block;

	.anuncios{
		width: 93%;
		margin: 0 auto;
		display: inline-block;

		.crear-view{
			text-align: right;
			width: 100%;

			a{
				padding: 15px;

				i{
					&:before{
						left: -7px;
					}
				}
			}
		}

		.list-anuncios{
			width: 100%;
			text-align: justify;

			button{
				width: 207px;
			}
		}
	}
}