/**
* Estilos paara dispositivos móviles
*
*/

// Mini Tablets
@media only screen and (max-width: 768px) and ( min-width:481px ) {
	header{
		position: relative;
	
		&:before{
			content: '';
			width: 0px;
			height: 0px;
			position: absolute;
			background: #FFF;
			left: 0;
			top: 15px;
			box-shadow: 0px 9px 22px -8px;
		}

		.header{

			.top{
				width: 100%;

				.logo{
					margin-top: 28px;
					text-align: center;
					position: relative;
					z-index: 9;
					margin-bottom: 0px;

					canvas{
						display: none;
					}
					img{
						display: initial;
						width: 380px;
					}

					&:before{
						content: '';
						width: 100%;
						height: 100px;
						position: absolute;
						background: #FFF;
						left: 0;
						top: -16px;
						z-index: -1;
						box-shadow: 0px 9px 22px -8px;
					}
				}
			}
		}
	}

	.content-nav{
		background: #F69804;

		.nav{

			.menu-larger-screens  {display: none;}

			.menu-mobile-screens {
				display: block;
			    width: 100%;  
			    position: relative; 
			    *zoom: 1;
			    border-top: 1px solid #F78E13;  

			    ul {  
					display: none;  
			        height: auto; 
			        padding: 0;

			        li {  
						width: 100%;
						float: left;
						position: relative;
						margin: 0;
						padding: 9px 0px 5px;
						text-align: center;
						list-style: none;
						border-bottom: 1px solid #F6B604; 

					    a { 
					    	text-align: center;
					    	text-decoration: none;
							font-size: @mediumFont;
							color: @trimcoWhite;
							font-family: @fontEmphasis;

							&:hover{
								color: @trimcoWhite !important;
							}
					    }

					}  
				} 

				&:before, &:after {  
				    content: " ";  
				    display: table;  
				}

				&:after { clear: both; }  	   
				
				#pull {  
			        display: block;  
			        width: 100%;  
			        position: relative; 
			        padding: 8px 0;  
			        color: #F19503;
					text-align: center;
					font-family: @fontEmphasis;
					font-weight: 400;
					text-decoration: none;
					font-size: 1.5rem;


			        &:after {  
						content: "";
						background: url("../images/images/iconoMenu.png") repeat-x 0px 0px;
						display: inline-block;
						position: absolute;
						right: 12px;
						top: 7px;
						width: 20px;
						height: 20px;
				    }  
		    	}  
			}
		}
	}
	.productos{

		.clientes{
			height: 325px;
		}
	}

	.nav-bottom{


		.moduletable{

			width: 98%;
			ul{
				.medio{

				}

				li{
					
					a{
						font-size: @smallFont;
					}	
				}
			}
		}
	}

	main{

		.two{

			.content-main{

				.content-all{

					.anuncios-p{

						img{
							float: none !important;
							margin: 0 auto;
						}

						h3{
							width: 95% !important;
						}
					}
				}
			}	
		}
	}

	span.niftyquick span.yoo-login span.login span.lostpassword {
		background: none;
		width: 159px;
		float: right;
	}
	span.niftyquick span.yoo-login span.login span.registration {
		width: 160px;
		background: none;
		margin-top: 0px;
		float: right;
	}

	.login, .registration, .reset, .remind{
		
		input{
			width: 100% !important;
		}
	}

	main{

		.component{
			width: 100% !important;

			.lista-anuncios{

				.anuncios{

					li{
						p{
							width: 50%;
						}

						.mcs-title{
							&.red{
								width: 50%;
							}
						}
					}
				}
			}
		}
	}

	// Ventana Modal y contenidos
	.em-modal-box {

		left: 50%;
		width: 60%;
		margin-left: -25%;

		.body {
			padding: 35px 15px 14px 0px;

			.content-compartir {

				.forms label {
					width: 80%;
					padding: 8px 5px 7px 10px;
					margin-left: 0;
					margin-bottom: 10px;
				}
				.forms input, .forms textarea {
					width: 80%;
					margin-left: 0;
				}

				.content-buttons {
					text-align: center;

					ul {
						display: block;

						li {
							margin: 5px;	
							width: 43%;
						}
					}
				}
			}
		}

	}

	.serv, .distri, .contactenos{

		img{
			float: none !important;
			margin: 0 auto;
		}

		.moduletable.contc{

			fieldset{

				.rsform-block{
					width: 87%;
				}

			}
		}
	}

	.contactenos{

		ul{
			margin-top: 0px !important;

			img{
				float: left !important;
			}
		}
	}
}
