.em-over-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    .size( 100%, 100% );
    z-index: 9999;
    background-color: rgba(48, 44, 36, 0.39);
    color: #FFF;
}

.em-modal-box {
    display: none; 
    position: fixed;
    top: 50%;
    left: 45%;
    width: 38%;
    min-height: 300px;
    margin-left: -250px;
    margin-top: -150px;
    background-color: #FFF;
    z-index: 99999;
    .transition(height 600ms);
    padding-bottom: 13px;

        .header {
            display: inline-block;
            width: 100%;
            #gradient .vertical( #f79d17, #f6b505 );
            color: #6F6F6F;
            padding: 12px 0;

            .modal-title{
                font-size: 1.9rem;
                color: #FFF;
                margin-left: 15px;
                .text;
                font-family: 'Michroma';
            }

            *{ display: inline-block; vertical-align: middle; }

            .close-modal-button { 
                position: absolute;
                top: 3px;
                right: 7px;
                .size( 74px, 83px );
                cursor: pointer;
                z-index: 8040;
                .close-button;
                color: #FFF;
                background-color: transparent;
            }

        }

        .body {
            display: inline-block;
            padding: 35px 25px 14px;    
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            margin-left: 10px;
            margin-right: 10px;
            
            * { display: inline-block; vertical-align: middle; }

            ul{
                list-style: none;
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 100%;

                li{
                    width: 100%;
                    margin-bottom: 10px;
                   
                   label{ width: 100%; text-align: left; margin-bottom: 10px; }

                    input[type="text"], textarea{
                        border: 1px solid #CCC;
                        .size ( 98%, 20px);
                        padding-left: 10px;
                        float: left;
                    }
                    
                    textarea{
                        height: 100px;
                    }

                }
            }
        }

}



