.invalid{
	color: red;
}

dl{
	dt:first-child{
		display: none;
	}
}

.message{

	

	&.message { &:extend( .mcs-tooltip all, .mcs-tooltip.success all); margin-left: 0 };
	&.notice{ &:extend( .mcs-tooltip all, .mcs-tooltip.warning); margin-left: 0; }
	&.warning{ &:extend( .mcs-tooltip all, .mcs-tooltip.warning); margin-left: 0;}
	&.info{ &:extend( .mcs-tooltip all, .mcs-tooltip.warning); margin-left: 0; }
	&.error{ &:extend( .mcs-tooltip all, .mcs-tooltip.error); margin-left: 0; }
}

.registration, .reset, .remind, .reset-confirm, .reset-complete{

	p{ font-size: 1.5rem; text-align: justify; }

	fieldset{

		legend{
			&:extend( .mcs-title, .mcs-title.orange);
		}

		.spacer{
			.text{
				float: right;
				font-size: 1.4rem;
				font-family: 'Arimo';
				&:extend( .mcs-title, .mcs-title.red);
			}
		}

		dl{
			text-align: justify;
			width: 64%;
			margin-top: 20px;


			> *{
				display: block;
				width: 90%;
				margin-bottom: 8px;
			}

			> dt:first-child{ width: 100%; }

			dd{ margin-left: 0; }

			dt{ .mcs-user; }

			> dd:last-child{ width: 3%; float: left;   }

			> dt:nth-child(27){ 
				width: 95%; 
				float: right;
				margin-top: 4px; 

				a{
					text-decoration: none;
					color: @mcs-blue;
				}
			}
		}
	}



	// .validate{ float: right; }

	input{
		border: 1px solid #CCC;
		.size ( 97%, 20px);
		padding-left: 10px;

	}

	form{
		margin-bottom: 10px;

		> div:nth-child(2){
			width: 96%;
			margin: 0 auto;
			text-align: right;

			.validate{
				&:extend( .mcs-button, .mcs-button.red all, .mcs-button.medium);
			}

			a[title="Cancelar"]{
				text-decoration: none;
				display: inline-block;
				text-align: center;
				&:extend( .mcs-button, .mcs-button.gray all, .mcs-button.medium);

				&:hover{
					color: #FFF !important;
				}
			}
		}
	}
}

.reset-confirm, .reset-complete{

	fieldset{

		dl{
			dd{ width: 90% !important; }
		}
	}
}

.login{
	width: 98%;

	form{
		width: 98%;
	
		fieldset{

			.login-fields{
				margin-bottom: 8px;
				margin-top: 5px;
				display: inline-block;
				width: 100%;

				label{
					.mcs-user;
					text-align: justify;
					display: inline-block;
					margin-bottom: 8px;
					width: 100%;
				}

				#remember-lbl{
					width: 96%;
					float: right;
					margin-top: 2px;
				}

				#remember{
					width: 3%;
					float: left;
				}

			}
		}

		input{
			border: 1px solid #CCC;
			.size ( 80%, 20px);
			padding-left: 10px;
			float: left;
		}

		button{ float: left; }

	}

}

.main-component{
	text-align: center;

	.component{
		display: inline-block;
		width: 1220px;
		margin: 0 auto;

		fieldset{ 
			border: none;
			width: 100%;
			margin-top: 21px;
			text-align: center; 
		}

		ul{
			list-style: none;
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		> div:nth-child(3){

			a{
				text-decoration: none;
				font-size: 1.5rem;
				//&:extend( .mcs-arrows all, .mcs-arrows.left);
			}
		}

		.validate, .button{
			&:extend( .mcs-button, .mcs-button.red, .mcs-button.medium);
			}

	}
}