/**
* Estilos paara dispositivos móviles
*
*/

// Smartphones
@media only screen and (max-width: 480px) and ( min-width:0px ) {

		header{
			position: relative;
	
			&:before{
				content: '';
				width: 0px;
				height: 0px;
				position: absolute;
				background: #FFF;
				left: 0;
				top: 15px;
				box-shadow: 0px 9px 22px -8px;
			}

		.header{

			.top{
				width: 100%;

				.logo{
					margin-top: 28px;
					text-align: center;
					position: relative;
					z-index: 9;
					margin-bottom: 0px;

					canvas{
						display: none;
					}
					img{
						display: block;
					}

					&:before{
						content: '';
						width: 100%;
						height: 100px;
						position: absolute;
						background: #FFF;
						left: 0;
						top: -16px;
						z-index: -1;
						box-shadow: 0px 9px 22px -8px;
					}
				}

				.banner{
					margin-top: 0px;
				}
			}
		}
	}

	.content-nav{
		background: #F69804;

		.nav{

			.menu-larger-screens  {display: none;}

			.menu-mobile-screens {
				display: block;
			    width: 100%;  
			    position: relative; 
			    *zoom: 1;
			    border-top: 1px solid #F78E13;  

			    ul {  
					display: none;  
			        height: auto; 
			        padding: 0;

			        li {  
						width: 100%;
						float: left;
						position: relative;
						margin: 0;
						padding: 9px 0px 5px;
						text-align: center;
						list-style: none;
						border-bottom: 1px solid #F6B604; 

					    a { 
					    	text-align: center;
					    	text-decoration: none;
							font-size: @mediumFont;
							color: @trimcoWhite;
							font-family: @fontEmphasis;

							&:hover{
								color: @trimcoWhite !important;
							}
					    }

					}  
				} 

				&:before, &:after {  
				    content: " ";  
				    display: table;  
				}

				&:after { clear: both; }  	   
				
				#pull {  
			        display: block;  
			        width: 100%;  
			        position: relative; 
			        padding: 8px 0;  
			        color: #F19503;
					text-align: center;
					font-family: @fontEmphasis;
					font-weight: 400;
					text-decoration: none;
					font-size: 1.5rem;


			        &:after {  
						content: "";
						background: url("../images/images/iconoMenu.png") repeat-x 0px 0px;
						display: inline-block;
						position: absolute;
						right: 12px;
						top: 7px;
						width: 20px;
						height: 20px;
				    }  
		    	}  
			}
		}
	}
	.productos{

		.clientes{
			height: 325px;
		}
	}
	main{

		.one{

			.buscar{

				.moduletable{
		
					.search{

						input[type="text"]{
							width: 62%;
							border-radius: 0px;
						}
					}
				}
			}
		}

		.two{

			.content-main{

				.content-all{

					.anuncios-p{

						img{
							float: none !important;
							margin: 0 auto;
						}

						h3{
							width: 95% !important;
							font-size: @xLargeFont;

							&:before{
								background: none;
							}
						}
					}
				}
			}	
		}
	}

	.three{

		.moduletable{

			ul{

				li{
					display: inline-block;
					margin-right: 10px;
					padding: 10px 0 !important;
				}
			}
		}
	}

	.four{
		float: left;
		width: 100%;
		background: rgb(52,52,52); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(52,52,52,1) 0%, rgba(125,125,125,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,52,52,1)), color-stop(100%,rgba(125,125,125,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(52,52,52,1) 0%,rgba(125,125,125,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(52,52,52,1) 0%,rgba(125,125,125,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(52,52,52,1) 0%,rgba(125,125,125,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(52,52,52,1) 0%,rgba(125,125,125,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#7d7d7d',GradientType=0 ); /* IE6-9 */


		.redes{

			h4{
				font-family: 'Michroma', sans-serif;
				font-size: 18px;
				color: #F6B604;
				margin-bottom: 0px;
			}

			table{
				margin: 0 auto;

				td{
					text-align: center;
				}
			}

			iframe{
				border: none;
			}
		}

		.pagos{

			h4{
				font-family: 'Michroma', sans-serif;
				font-size: 18px;
				color: #F6B604;
				margin-bottom: 0px;
			}

			table{
				margin: 0 auto;

				td{
					text-align: center;
				}
			}

			ul{
				background: #FFF;
				padding: 0px;

				li{
					display: inline-block;
					margin-right: 10px;
					padding:8px 0;
				}
			}

		}
	}

	.nav-bottom{


		.moduletable{
			width: 98%;
			ul{
				.medio{

				}

				li{
					
					a{
						font-size:@allFontSize;
						padding: 0px 7px;
					}	
				}
			}
		}
	}

	footer{

		.five{
			background: rgb(82,82,82); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(82,82,82,1) 0%, rgba(128,128,128,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(82,82,82,1)), color-stop(100%,rgba(128,128,128,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(82,82,82,1) 0%,rgba(128,128,128,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(82,82,82,1) 0%,rgba(128,128,128,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(82,82,82,1) 0%,rgba(128,128,128,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(82,82,82,1) 0%,rgba(128,128,128,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#808080',GradientType=0 ); /* IE6-9 */
			width: 100%;
			float: left;
			padding-bottom: 25px;
			
			.moduletable{

				h3{
					font-family: 'Michroma', sans-serif;
					font-size: @liFontSize;
					color: #F6B604;
					margin-bottom: 0px;
					border-bottom: 1px dashed;
					padding-bottom: 18px;
					letter-spacing: -1px;
				}

				ul{
					float: none;
					padding: 0px;
					width: 192px;
					border-left: none;
					height: auto;
					text-align: center;
					margin: 0 auto;

					h4{
						font-family: @fontEmphasis;
						font-size: @smallFont;
						color: #F6B604;
						margin-bottom: 0px;
					}

					li{
						list-style-type: none;
						margin-left: 25px;

						p{
							a{
								color: #FFF;
								font-family: @content;
								font-size: @normalFont;
								text-decoration: none;
								position: relative;

								&:after{
									content: '';
									width: 10px;
									height: 14px;
									background-image: url(../images/images/flechaAmarilla.png);
									position: absolute;
									border-bottom: none;
									background-repeat: no-repeat;
									top: 2px;
									left: -11px;
								}
							}
						}
					}
				}
			}
		}

		.six{
		float: left;
		background: #F6B604;
		width: 100%;

		.pie{
			color: @liColorHijos;
			font-family: @fontEmphasis;
			font-size: @normalFont;
			text-align: center;

			a{
				color: @liColorHijos;
				font-family: @fontEmphasis;
				font-size: @normalFont;
				text-decoration: none;
			}
		}

		.derechos{
			float: right;
			margin-top: 14px;

			#logo {
			    background-image: url("../images/images/logo_blanco.png");
			    background-repeat: no-repeat;
			    float: right;
			    height: 20px;
			    margin-top: 3px;
			    width: 68px;
			    margin-left: 5px;

			    #logo:hover {
				    background-image: url("../images/images/logo.png");
				    background-repeat: no-repeat;
				    float: right;
				    height: 20px;
				    margin-top: 3px;
				    width: 68px;
				}
			}
		}
	}
	}
	.clientes{
		float: none;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.clientes-2{
		float: none;
		margin: 0 auto;
		height: 326px;
	}
	.clientes-3{
		float: none;
		margin: 0 auto;
	}

	span.niftyquick span.yoo-login span.login span.username, span.niftyquick span.yoo-login span.login span.password {
		width: 36%;
		height: 16px;
		padding: 2px 5px 10px 20px;
		float: left;
		overflow: hidden;
	}
	span.niftyquick span.yoo-login span.login span.login-button {
		margin-top: 12px;
		width: 73px;
	}
	span.niftyquick span.yoo-login span.login span.lostpassword {
		background: none;
		width: 159px;
		float: right;
	}
	span.niftyquick span.yoo-login span.login span.registration {
		width: 160px;
		background: none;
		margin-top: 0px;
		float: right;
	}


	.login, .registration, .reset, .remind{
		
		input{
			width: 100% !important;
		}
	}

	.mcs-tabs{

		li{ 
			width: 49% !important; 

			&:last-child{

				&:before{
					width: 116% !important;
				}
			}
		}
	}

	.datos-anuncio{

		ul{

			li{
				width: 100% !important;

				input[type="text"]{
					width: 98% !important;
				}

				label{
					display: inline-block;
				}
			}
		}
	}

	main{

		.component{
			width: 100% !important;

			.lista-anuncios{

				.anuncios{

					li{
						p{
							width: 100%;
						}

						.mcs-title{
							&.red{
								width: 100%;
							}
						}
					}
				}
			}
		}
	}

	// Ventana Modal y contenidos
	.em-modal-box {

		left: 33%;
		width: 85%;
		margin-left: -25%;

		.body {
			padding: 35px 15px 14px 0px;

			.content-compartir {

				.forms label {
					width: 80%;
					padding: 8px 5px 7px 10px;
					margin-left: 0;
					margin-bottom: 10px;
				}
				.forms input, .forms textarea {
					width: 80%;
					margin-left: 0;
				}

				.content-buttons {
					text-align: center;

					ul {
						display: block;

						li {
							margin: 5px;	
							width: 43%;
						}
					}
				}
			}
		}
	}

	.serv, .distri, .contactenos{

		img{
			float: none !important;
			margin: 0 auto;
		}

		.moduletable.contc{

			fieldset{

				.rsform-block{
					width: 87%;
				}

			}
		}
	}

	.contactenos{

		ul{
			margin-top: 0px !important;

			img{
				float: left !important;
			}
		}
	}
}

