 /**
* Estilos paara dispositivos móviles
*
*/

// Tablets
@media only screen and (max-width: 960px) and ( min-width:769px ) {

	header{
		position: relative;

		.header{

			.top{
				width: 100%;

				.logo{
					margin-top: 28px;
					text-align: center;
					position: relative;
					z-index: 9;
					margin-bottom: 21px;

					canvas{
						display: initial;
					}

					&:before{
						content: '';
						width: 100%;
						height: 100px;
						position: absolute;
						background: #FFF;
						left: 0;
						top: -16px;
						z-index: -1;
						box-shadow: 0px 9px 22px -8px;
					}
				}

				.banner{
					margin-top: 0px;
				}

				.ditribuidor{
					margin-top: 0px
				}
			}
		}
	}

	main{

		.two{

			.moduletable{

				padding-left: 15px;

				h3{
					font-family: @fontEmphasis;
					font-size: @largeFont;
					color: @trimcoHome;
					margin-top: 0px;
					border-bottom: 1px dashed;
					padding-bottom: 9px;

				}

				ul.menu{

					li.deeper.parent{
						font-family: @fontEmphasis;
						font-size: @mediumFont;
						color: @liColor;
						font-weight: bold;
						list-style-type: none;
						margin-bottom: 15px;
						margin-top: 13px;

						&:first-child > a {
							display: none;
						}

						a{
							text-decoration: none;
							position: relative;

							&:after{
								content: '';
								width: 100%;
								height: 1px;
								position: absolute;
								bottom: -1px;
								left: 0;
								border-bottom: 1px dashed;
							}
						}

						ul{
							margin-top: 13px;
							padding-left: 15px;

							li{
								list-style-type: none;
								color: @liColorHijos;
								font-family: @content;
								font-size: @liFontSize;
								font-weight: lighter;

								a{
									text-decoration: none;
									border-bottom: none;

									&:after{
										content: '';
										width: 10px;
										height: 14px;
										background-image: url(../images/images/flecha.png);
										position: absolute;
										border-bottom: none;
										background-repeat: no-repeat;
										top: 0;
										left: -15px;
									}
								}
							}
						}
					}

					li{
						list-style-type: none;
						color: @liColorHijos;
						font-family: @content;
						font-size: @liFontSize;
						font-weight: lighter;
						line-height: 25px;

						a{
							text-decoration: none;
							border-bottom: none;
							position: relative;

							&:after{
								content: '';
								width: 10px;
								height: 14px;
								background-image: url(../images/images/flecha.png);
								position: absolute;
								border-bottom: none;
								background-repeat: no-repeat;
								left: -15px;
							}
						}
					}
				}
			}

			.content-main{

				.content-all{

					.anuncios-p{

						img{
							float: none !important;
							margin: 0 auto;
						}

						h3{
							width: 95% !important;

							&:before{
								content: '';
								position: absolute;
								width: 55px;
								height: 39px;
								background-image: url(http://localhost/mcs-maquinarias/images/globopunta.png);
								right: 32px;
								top: 57px;
							}
						}
					}
				}
			}	
		}
	}
	

	.content-nav{
		background: #F69804;

		.nav{

			.menu-mobile-screens {display: none;}

			.menu-larger-screens{
				float: none;	
				margin: 0 auto;
				text-align: center;

				ul{
					float: none;
					margin: 0 auto;
					padding: 0;

					li{
						display: inline-block;
						padding: 11px 7px;
						border-right: 2px solid #F6B604;

						a{
							font-family: @fontEmphasis;
							font-size: @smallFont;
							text-decoration: none;
							color: @trimcoWhite;
						}
					
					}
				
				}

			}
		
		}

	}
	.nav-bottom{


		.moduletable{
			width: 98%;

			ul{
				.medio{

				}

				li{
					
					a{
						font-size: @smallFont;
					}	
				}
			}
		}
	}
		

	span.niftyquick span.yoo-login span.login span.lostpassword {
		background: none;
		width: 159px;
		float: right;
	}
	span.niftyquick span.yoo-login span.login span.registration {
		width: 160px;
		background: none;
		margin-top: -6px;
		float: right;
	}

	.login, .registration, .reset, .remind{
		
		input{
			width: 100% !important;
		}
	}

	main{

		.component{
			width: 100% !important;

			.lista-anuncios{

				.anuncios{

					li{
						p{
							width: 63%;
						}

						.mcs-title{
							&.red{
								width: 63%;
							}
						}
					}
				}
			}
		}
	}

	// Ventana Modal y contenidos
	.em-modal-box {

		left: 50%;
		width: 60%;
		margin-left: -25%;
	}

}
