/**
*
* variables to use in less
*
*/

// Site Standard colors
@trimcoHome: #CB1417;
@trimcoWhite: #FFFFFF;
@bodyBackground: #FFF;
@bodyColor: #4D4D4D;
@liColor: #000000;
@liColorHijos: #353535;
@amarillo: #F6B604;
@colorP: #353535;
@gris: #4D4D4D;

// Button color
@mcs-red: #CF2027;
@redButtonDarken: #9B181D;
@grayButton: #4D4D4D;
@grayButtonDarken: #272727;
@orangeButton: #F6B604;
@mcs-green: #7AB04D;
@mcs-blue: #38B1E4;



// Font size
@baseFontSize: 1.7rem;
@menuFontSize: 1.6rem;
@allFontSize: 7px;
@tinyFont: 9px;
@smallFont: 12px;
@normalFont: 13px;
@mediumFont: 15px;
@largeFont: 18px;
@xLargeFont: 22px;
@bigFont: 2.5rem;
@biggerFont: 32px;
@margin: 0 auto;
@liFontSize: 17px;


// Font Family
@fontEmphasis:'Michroma';
@titles: 'Raleway';
@content:'Arimo';

//nav
@hoverNav: #F7931E;

// Headings
@baseLineHeight: 0;
