<form id="despublicar-anuncio-form">
	<div>
		<ul>
			<li>
				<label class="mcs-user">Código del anuncio <span class="star">*</span></label>
				<input readonly type="text" name="ids-anuncios" 
				value="<% for (var i = 0; i < idsAnuncio.length; i++) { %><%= idsAnuncio[i] + ' ' %><% } %>">
			</li>

			<li>
				<label class="mcs-user">Motivo de la despublicación <span class="star">*</span></label>
				<textarea name="motivo"></textarea>
			</li>
		</ul>

		<input type="submit" class="mcs-button small red" value="Solicitar despublicación"/>
	</div>
</form>