<div class="detalle">
	<h3 class="mcs-title orange">Información básica</h3>


	<ul>
		<li><label>Código</label><%= codigo %></li>
		<li><label>Marca</label><%= marca %></li>
		<li><label>Modelo</label><%= modelo %></li>
		<li><label>Año</label><%= anio %></li>
		<li><label>Serie</label><%= serie %></li>
		<li><label>Horómetro</label><%= horometro %></li>
		<li><label>Localización</label><%= localizacion %></li>
	</ul>

</div>

<div class="caracteristicas">
	<h3 class="mcs-title orange">Características</h3>

	<p><%= caracteristicas %></p>

	<p><%= accesorios %></p>
</div>