@charset "UTF-8";
/* CSS Document */

body{
	margin:0;
}

#wrapSocial{
	width:152px;
	height:40px;
	position:relative;
}
#wrapSocial img{
	position:absolute;
	top:8px;
}

#fb{
	left:56px;
	opacity: 1;
}
#tw{
	left:8px;
	opacity: 1;
}

#in{
	left:103px;
	opacity: 1;
}